.productBoxContainer{
    height: 100%;
    background-color: red;
}

.productBoxImgContainer{
    padding: 10px;
    display: flex;
    justify-content: center;
    height: 100%;
}




.productBoxInfoContainerFullImg{
    display: flex;
    
    flex-direction: column;
    justify-content: space-between
}



.productBoxInfoFullImg{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    font-size: 20px;
    

}

.productBoxInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    padding: 13px;
}

.productBoxPriceBuy{
    align-items: center;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;

}


.productBoxImg{
    width: 100%;
    max-height: 125px;
    object-fit: contain;

}

.productBoxFullImg{
    height: 300px;
    width: 300px;
    object-fit: contain;

}



.productBoxContainerFullImg{
    display: flex;
    flex-direction: row;
}


.productBoxInfoDesc{
    overflow: hidden;
    color: rgb(80, 80, 80);
    font-size: 15px;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}