<mat-card *ngIf="product" fxFlexAlign="stretch" [ngClass]="fullWidthMode ? 'productBoxContainerFullImg' : 'productBoxContainer'" >
    <div class="productBoxImgContainer">
        <img  [ngClass]="fullWidthMode ? 'productBoxFullImg' : 'productBoxImg'" src="{{product.image}}"/>
    </div>
    <div [ngClass]="{productBoxInfoContainerFullImg : fullWidthMode}"   >
        <div  [ngClass]="fullWidthMode ? 'productBoxInfoFullImg' : 'productBoxInfo'">
            <h2>{{product.category}}</h2>
            <p>{{product.title}}</p>
            <p class="productBoxInfoDesc">{{product.description}}</p>
        </div>
        <div  class="productBoxPriceBuy"  >
            <span> {{product.price | currency}}</span>
            <button mat-icon-button (click)="onAddToCart()">
                <mat-icon mat-raised-button color="primary">shopping_cart</mat-icon>
            </button>
        </div>
    </div>
</mat-card>